<!DOCTYPE html>
<html>
   <body>

      <h3>Flask - Incluir Estudante</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Nome</label><br>
         <input type = "text" name = "name" placeholder = "nome" /><br>
         <label for = "email">Cidade</label><br>
         <input type = "text" name = "city" placeholder = "cidade" /><br>
         <label for = "addr">Endereço</label><br>
         <textarea name = "addr" placeholder = "endereço"></textarea><br>
         <label for = "PIN">Prontuário</label><br>
         <input type = "text" name = "pin" placeholder = "prontuário" /><br>
         <input type = "submit" value = "Gravar" />
      </form>

   </body>
</html>
